ion-content{
    div{
        ion-label{
            strong{
                font-size: 20px;
                border-bottom: 10px;
            }
        }
      .indicar{
            position: absolute;
            margin-top: 80px;
        }
    }
}