<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="ion-no-border">

  </ion-toolbar>
</ion-header>
<ion-content class="conteudo ion-no-padding">
  <div>
    <ion-button slot="start" size="large" fill="fill" color="gray" (click)="CloseAmigos()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="ion-margin-vertical ion-padding">
    <img src="../assets/indicar.png" class="indicar">
    <ion-label>
      <strong> Resgate seus amigos da fila do banco</strong>
        <p> Para cada indicação aceita, um amigo salvo da burocracia.</p>
    </ion-label>
    <ion-button  slot="start" expand="" fill="outline">
      <strong>Indicar Amigos</strong>
    </ion-button>
  </div>
   
</ion-content>
