<ion-header  class="ion-no-border">
  <ion-toolbar color="primary">
    <span class="ion-text-center">
      Olá, João
    </span>
    <ion-button slot="end" size="" fill="clear" color="light" (click)="CloseModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="primary" class="ion-padding">
  <div class="dados ion-text-center">
    <span><strong> Agência 0001 Conta 1213123-4</strong></span>
    <span><strong> Banco 201 - Nu Pagamentos S.A.</strong></span>
  </div>    
  <ion-list lines="full" color="transparent" class="ion-text-center">
    <ion-item *ngFor="let option of options" detail color="transparent">
      <ion-icon slot="start" [name]="option.icon"></ion-icon>
      <ion-label> {{option.text}} </ion-label>
    </ion-item>
  </ion-list>
  <div class="ion-margin-vertical ion-text-center">
    <ion-button fill="outline" color="light" slot="">
      SAIR DO APP
    </ion-button>
  </div>
 
</ion-content>
