ion-content{
    div{

        ion-item{
            ion-input{
                margin-left: 49%;
                font-size: 30px;
                width: 150px;
                border-bottom: 100%;
            }
        }
    }
}