<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-title>Ajuste de Limite</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo ion-no-padding">
  <div>
    <ion-button slot="start" size="large" fill="fill" color="gray" (click)="CloseLimite()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="content ion-padding ion-text-center">
    <ion-item lines="none">
      <ion-card-content  class="ion-no-padding ion-margin-vertical ion-text-center">
        <div class="valor ion-padding">
          <ion-input fill="outline" value="R$ 3000"></ion-input>    
        </div>
      </ion-card-content>
      
    </ion-item>
  </div>
   
</ion-content>
