<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-title>Ajuste de Limite</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo ion-no-padding">
  <div>
    <ion-button slot="start" size="large" fill="fill" color="gray" (click)="CloseLimite()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="ion-border ion-padding ion-text-center">
    <ion-item lines="none" class="ion-margin-vertical">
      <ion-input value="R$ 3000" size="1" readonly="true" fill="outline" expand="block"></ion-input>    
    </ion-item>
  </div>
   
</ion-content>
